# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Testing
.pytest_cache/
htmlcov/
.coverage

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Results (generated)
results/

# Logovi
run_log*.txt

# Debug files
debug*.txt
debug*.html
debug*.js

# OS
.DS_Store
Thumbs.db
